.nav {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 5rem;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
}
.nav-links a:hover {
  text-decoration: underline;
}
.logout-btn {
  background: none;
  border: none;
  color: rgb(2, 0, 0); /* or your nav text color */
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
